<div class="container" xmlns:th="http://www.w3.org/1999/xhtml">
  <div class="row">
    <div class="col-md-4 mb-3">
      <div class="card text-white bg-primary">
        <div class="card-body">
          <h5 class="card-title">Total Orders</h5>
          <p class="card-text" th:text="${totalOrders}">0</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card text-white bg-warning">
        <div class="card-body">
          <h5 class="card-title">Pending Orders</h5>
          <p class="card-text" th:text="${pendingOrders}">0</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card text-white bg-success">
        <div class="card-body">
          <h5 class="card-title">Products Listed</h5>
          <p class="card-text" th:text="${totalProducts}">0</p>
        </div>
      </div>
    </div>
  </div>
</div>
